{
  "semi": false,
  "singleQuote": true,
  "useTabs": false,
  "trailingComma": "all",
  "printWidth": 150,
  "tabWidth": 2,
  "quoteProps": "as-needed",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
